# Ignore IntelliJ/Android Studio project files
*.iml
.gradle/
.idea/
  # These are inside .idea, but since .idea/ is ignored, these lines are optional
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Ignore build outputs
/build/
captures/

# Ignore native build intermediates
.externalNativeBuild/
.cxx/

# Ignore local configuration files
local.properties

# OS specific files
.DS_Store
